.subCategories{
    padding: 26px 0;
    position: absolute;
    z-index: 999;
    top: 102%;
    width: 100%;
    background-color: white;
    &>div{
        display: flex;
        gap: 150px;
    }
    .cat{
        h5{
            margin-bottom: 12px;
        }
        ul{
            padding: 0;
            li{
                margin-bottom: 7px;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 767px){
    .subCategories{
        height: 100vh;
        overflow-y: scroll;
        background-color: white;
        top: 0;
        right: 0;
        z-index: 10001;
        &>div{
            flex-direction: column;
        }
    }
}